/* ----------------------------------------------------- */
/* ------------------NORMAL BUTTONS -------------------- */
/* ----------------------------------------------------- */

.ui-btn{
  width: 85px;
  height: 28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ccd3d5;
  border: solid 1px #ccd3d5;
  background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
  background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
  background-image: -o-linear-gradient(bottom, #fafafa, #fff);
  background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
  background-image: linear-gradient(to top, #fafafa, #fff);
}

.ui-btn span{
  font-family: Lato;
  font-size: 13px;
  color: #545f65;
}

.ui-btn:hover{
  background-color: #fff;
  -webkit-box-shadow: 0 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px rgba(0,0,0,.05);
  box-shadow: 0 1px rgba(0,0,0,.05);
  background-image: none;
}

.ui-btn:active{
  background-image: -webkit-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -moz-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -o-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -ms-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: linear-gradient(to bottom, #dfe3e6, #ecf0f3);
}

.ui-btn:disabled{
  background-image: none;
  background-color: #fff;
  opacity: 0.5;
}

.ui-btn:disabled span{
  color: #545f65;
}

.ui-btn.big{
  width: 100px;
  height: 34px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.ui-btn.big span{
  font-size: 15px;
}

.ui-btn.huge{
  width: 115px;
  height: 46px;
}

.ui-btn.huge span{
  font-size: 19px;
}


/* ----------------------------------------------------- */
/* ------------------ ACCEPT BUTTONS ------------------- */
/* ----------------------------------------------------- */

.ui-btn.accept{
  background-color: #58ac56;
  background-image: -webkit-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -moz-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -o-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -ms-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: linear-gradient(to top, #50a54e, #60b25e);
  border: none;
}

.ui-btn.accept span{
  color: #fefefe;
	text-shadow: 0 1px rgba(0,0,0,.15);
}

.ui-btn.accept:hover{
  background-color: #69a55a;
  -webkit-box-shadow: inset 0 -2px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 -2px rgba(0,0,0,.2);
  box-shadow: inset 0 -2px rgba(0,0,0,.2);
  background-image: -webkit-linear-gradient(bottom, #5cb05a, #6ebd6c);
  background-image: -moz-linear-gradient(bottom, #5cb05a, #6ebd6c);
  background-image: -o-linear-gradient(bottom, #5cb05a, #6ebd6c);
  background-image: -ms-linear-gradient(bottom, #5cb05a, #6ebd6c);
  background-image: linear-gradient(to top, #5cb05a, #6ebd6c);
}

.ui-btn.accept:active{
  background-color: #69a55a;
  -webkit-box-shadow: inset 0 2px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 2px rgba(0,0,0,.2);
  box-shadow: inset 0 2px rgba(0,0,0,.2);
  background-image: -webkit-linear-gradient(top, #499848, #5baa59);
  background-image: -moz-linear-gradient(top, #499848, #5baa59);
  background-image: -o-linear-gradient(top, #499848, #5baa59);
  background-image: -ms-linear-gradient(top, #499848, #5baa59);
  background-image: linear-gradient(to bottom, #499848, #5baa59)
}

.ui-btn.accept:disabled{
  opacity: 0.5;
}

.ui-btn.accept:disabled span{
  color: #fefefe;
}


/* ----------------------------------------------------- */
/* ------------------ CANCEL BUTTONS ------------------- */
/* ----------------------------------------------------- */

.ui-btn.cancel{
	background-color: #f45756;
	background-image: -webkit-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -moz-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -o-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -ms-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: linear-gradient(to top, #ef5251, #f75a59);
  border: none;
}

.ui-btn.cancel span{
  color: #fefefe;
	text-shadow: 0 1px rgba(0,0,0,.15);
}

.ui-btn.cancel:hover{
  background-color: #f66564;
  -webkit-box-shadow: inset 0 -2px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 -2px rgba(0,0,0,.2);
  box-shadow: inset 0 -2px rgba(0,0,0,.2);
  background-image: -webkit-linear-gradient(bottom, #f25c5b, #f76968);
  background-image: -moz-linear-gradient(bottom, #f25c5b, #f76968);
  background-image: -o-linear-gradient(bottom, #f25c5b, #f76968);
  background-image: -ms-linear-gradient(bottom, #f25c5b, #f76968);
  background-image: linear-gradient(to top, #f25c5b, #f76968);
}

.ui-btn.cancel:active{
  background-color: #d2403e;
	-webkit-box-shadow: inset 0 2px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 2px rgba(0,0,0,.15);
	box-shadow: inset 0 2px rgba(0,0,0,.15);
	background-image: -webkit-linear-gradient(top, #d03a39, #d64948);
	background-image: -moz-linear-gradient(top, #d03a39, #d64948);
	background-image: -o-linear-gradient(top, #d03a39, #d64948);
	background-image: -ms-linear-gradient(top, #d03a39, #d64948);
	background-image: linear-gradient(to bottom, #d03a39, #d64948);
}

.ui-btn.cancel:disabled{
  opacity: 0.5;
}

.ui-btn.cancel:disabled span{
  color: #fefefe;
}

/* ----------------------------------------------------- */
/* -------------------- GRAY BUTTONS ------------------- */
/* ----------------------------------------------------- */

.ui-btn.gray{
	background-color: #5f6972;
	background-image: -webkit-linear-gradient(bottom, #59616a, #636d77);
	background-image: -moz-linear-gradient(bottom, #59616a, #636d77);
	background-image: -o-linear-gradient(bottom, #59616a, #636d77);
	background-image: -ms-linear-gradient(bottom, #59616a, #636d77);
	background-image: linear-gradient(to top, #59616a, #636d77);
  border: none;
}

.ui-btn.gray span{
  color: #fefefe;
	text-shadow: 0 1px rgba(0,0,0,.15);
}

.ui-btn.gray:hover{
	background-color: #71777e;
	-webkit-box-shadow: inset 0 -2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 -2px rgba(0,0,0,.2);
	box-shadow: inset 0 -2px rgba(0,0,0,.2);
	background-image: -webkit-linear-gradient(bottom, #6c7279, #737a81);
	background-image: -moz-linear-gradient(bottom, #6c7279, #737a81);
	background-image: -o-linear-gradient(bottom, #6c7279, #737a81);
	background-image: -ms-linear-gradient(bottom, #6c7279, #737a81);
	background-image: linear-gradient(to top, #6c7279, #737a81);
}

.ui-btn.gray:active{
  background-color: #505760;
	-webkit-box-shadow: inset 0 2px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 2px rgba(0,0,0,.15);
	box-shadow: inset 0 2px rgba(0,0,0,.15);
	background-image: -webkit-linear-gradient(top, #495057, #58616a);
	background-image: -moz-linear-gradient(top, #495057, #58616a);
	background-image: -o-linear-gradient(top, #495057, #58616a);
	background-image: -ms-linear-gradient(top, #495057, #58616a);
	background-image: linear-gradient(to bottom, #495057, #58616a);
}

.ui-btn.gray:disabled{
  opacity: 0.5;
}

.ui-btn.gray:disabled span{
  color: #fefefe;
}

/* ----------------------------------------------------- */
/* -------------------- NORMAL INPUT ------------------- */
/* ----------------------------------------------------- */

.ui-input{
  width: 225px;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #ccd3d5;
  padding: 0px 8px;
}

.ui-input:focus{
  -webkit-box-shadow: inset 0 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px rgba(0,0,0,.05);
  border: solid 1px #60b25e;
}

.ui-input.error{
  font-weight: bold;
  color: #eb3254;
  border: solid 1px #eb3254;
}

.ui-input.disabled{
  color: #bbc0c3;
  background-color: #f0f0f0;
  border: solid 1px #ccd3d5;
}

/* ----------------------------------------------------- */
/* -------------------- SEARCH INPUT ------------------- */
/* ----------------------------------------------------- */

.ui-input-search{
  width: 330px;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #ccd3d5;
}

.ui-input-search figure{
  float: left;
  width: 16px;
  padding-left: 15px;
  padding-right: 10px;
  height: 16px;
  border-right: 1px solid #ccd3d5;
  margin: 12px 10px 0px 0px;
}

.ui-input-search i{
  background-image: url('sprite-white.png');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}

.ui-input-search input{
  border: none;
  margin-top: 12px;
  width: 270px;
}

.ui-input-search.active{
  border: 1px solid #60b25e;
}

.ui-input-search.active figure{
  border-right: 1px solid #60b25e;
}

.ui-input-search.active i{
  background-position-x: -16px;
}

.ui-input-search.active input{
  color: #545f65;
}

.ui-input-search.disabled{
  color: #aab1b5;
  background-color: #f0f0f0;
}

/* ----------------------------------------------------- */
/* ------------------ DROPDOWN INPUT ------------------- */
/* ----------------------------------------------------- */

.ui-input-dropdown{
  width: 62px;
  height: 26px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px rgba(0,0,0,.05);
  border: solid 1px #ccd3d5;
  padding-left: 3px;
  font-family: Lato;
  font-size: 13px;
  color: #6f7578;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.ui-input-dropdown-input{
  /*margin: 5px;*/
}

.ui-input-dropdown-input article{
  width: 40px;
  float: left;
  margin: 5px 0px 0px 5px;
}

.ui-input-dropdown-input figure{
  float: right;
  width: 13px;
  height: 26px;
  display: inline-block;
  margin: 0px;
  border-left: 1px solid #ccd3d5;
}

.ui-input-dropdown-input figure i{
  background-image: url("sprite-white.png");
  width: 5px;
  height: 3px;
  margin: 11px 4px 10px 4px;
  display: inline-block;
  background-size: 91px 16px;
  background-position: -51px -7px;
}

.ui-input-dropdown-dropdown{
  display: none;
}

.ui-input-dropdown:hover figure{
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 2px rgba(0,0,0,.05);
  box-shadow: 0 2px rgba(0,0,0,.05);
}

.ui-input-dropdown.disabled{
  opacity: 0.5;
}

/* ----------------------------------------------------- */
/* -------------------- SELECT INPUT ------------------- */
/* ----------------------------------------------------- */

.ui-select{
  width: 157px;
  height: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fcfeff;
  -webkit-box-shadow: inset 0 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px rgba(0,0,0,.05);
  border: solid 1px #ccd3d5;
  padding-left: 3px;
  font-family: Lato;
  font-size: 13px;
  color: #6f7578;
}

.ui-select-input article{
  width: 125px;
  float: left;
  margin: 7px 0px 0px 10px;
}

.ui-select-input figure{
  float: right;
  width: 13px;
  height: 30px;
  display: inline-block;
  margin: 0px;
  border-left: 1px solid #ccd3d5;
}

.ui-select-input figure i{
  background-image: url("sprite-white.png");
  width: 5px;
  height: 10px;
  margin: 10px 4px 9px 4px;
  display: inline-block;
  background-size: 91px 16px;
  background-position: -51px 0px;
}

.ui-select-dropdown{
  display: none;
}

.ui-select-dropdown.disabled{
  opacity: 0.5;
}

/* ----------------------------------------------------- */
/* -------------------- CONTEXT MENU ------------------- */
/* ----------------------------------------------------- */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout{
  from { opacity: 1; }
  to   { opacity: 0; }
}

.ui-context-menu{
  width: 155px;
  height: 95px;
  padding: 5px 0px;
  border-radius: 3px;
  border: 1px solid #ccd3d5;
  animation: fadein 1s;
}

.ui-context-menu .item{
  width: 135px;
  height: 23px;
  padding-left: 20px;
  color: #545f65;
  padding-top: 5px;
  font-size: 13px;
}

.ui-context-menu .item.children span{
  float:left;
  width: 120px;
}

.ui-context-menu .item.children figure{
  float: right;
  width: 15px;
  height: 20px;
  display: inline-block;
  margin: 0;
}

.ui-context-menu .item.children i{
  background-image: url("sprite-white.png");
  width: 3px;
  height: 7px;
  margin: 4px 4px 7px 4px;
  display: inline-block;
  background-size: 91px 16px;
  background-position: 35px 0px;
}

.ui-context-menu .item.children .ui-context-menu{
  margin-left: 135px;
  margin-top: -11px;
  display: none;
}

.ui-context-menu .item:hover{
  background-color: #60b25e;
  color: white;
}

.ui-context-menu .item.children:hover i{
  background-position: 31px 0px;
}

.ui-context-menu .separator{
  width: 135px;
  height: 1px;
  margin: 5px 10px;
  background-color: #e5e9ea;
}

.ui-context-menu .title{
  font-size: 9px;
  font-weight: bold;
  color: #545f65;
  height: 18px;
  padding: 10px 0px 0px 20px;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ------------------------ DARK ----------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

.dark .ui-btn{
  background-color: #434d56;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
	-moz-box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
	box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 2px rgba(255,255,255,.03);
	border: solid 1px #2c3238;
	background-image: -webkit-linear-gradient(bottom, #404951, #47525b);
	background-image: -moz-linear-gradient(bottom, #404951, #47525b);
	background-image: -o-linear-gradient(bottom, #404951, #47525b);
	background-image: -ms-linear-gradient(bottom, #404951, #47525b);
	background-image: linear-gradient(to top, #404951, #47525b);
}

.dark .ui-btn span{
  color: #d2dce2;
}

.dark .ui-btn:hover{
  background-color: #3b434a;
	background-image: -webkit-linear-gradient(bottom, #49535c, #535f6a);
	background-image: -moz-linear-gradient(bottom, #49535c, #535f6a);
	background-image: -o-linear-gradient(bottom, #49535c, #535f6a);
	background-image: -ms-linear-gradient(bottom, #49535c, #535f6a);
	background-image: linear-gradient(to top, #49535c, #535f6a);
}

.dark .ui-btn:active{
  background-color: #3b434a;
	border: solid 1px #2c3238;
	background-image: -webkit-linear-gradient(top, #323a40, #3d444b);
	background-image: -moz-linear-gradient(top, #323a40, #3d444b);
	background-image: -o-linear-gradient(top, #323a40, #3d444b);
	background-image: -ms-linear-gradient(top, #323a40, #3d444b);
	background-image: linear-gradient(to bottom, #323a40, #3d444b);
}

.dark .ui-btn:disabled{
  background-image: none;
  opacity: 0.5;
}

.dark .ui-btn:disabled span{
  color: #d2dce2;
}

/* ----------------------------------------------------- */
/* ------------------ ACCEPT BUTTONS ------------------- */
/* ----------------------------------------------------- */

.dark .ui-btn.accept{
  background-color: #58ac56;
  background-image: -webkit-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -moz-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -o-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: -ms-linear-gradient(bottom, #50a54e, #60b25e);
  background-image: linear-gradient(to top, #50a54e, #60b25e);
  border: none;
}

.dark .ui-btn.accept span{
  color: #fefefe;
	text-shadow: 0 1px rgba(0,0,0,.15);
}

.dark .ui-btn.accept:hover{
  background-color: #69a55a;
  -webkit-box-shadow: inset 0 -2px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 -2px rgba(0,0,0,.2);
  box-shadow: inset 0 -2px rgba(0,0,0,.2);
  background-image: -webkit-linear-gradient(bottom, #5cb05a, #6ebd6c);
  background-image: -moz-linear-gradient(bottom, #5cb05a, #6ebd6c);
  background-image: -o-linear-gradient(bottom, #5cb05a, #6ebd6c);
  background-image: -ms-linear-gradient(bottom, #5cb05a, #6ebd6c);
  background-image: linear-gradient(to top, #5cb05a, #6ebd6c);
}

.dark .ui-btn.accept:active{
  background-color: #69a55a;
  -webkit-box-shadow: inset 0 2px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 2px rgba(0,0,0,.2);
  box-shadow: inset 0 2px rgba(0,0,0,.2);
  background-image: -webkit-linear-gradient(top, #499848, #5baa59);
  background-image: -moz-linear-gradient(top, #499848, #5baa59);
  background-image: -o-linear-gradient(top, #499848, #5baa59);
  background-image: -ms-linear-gradient(top, #499848, #5baa59);
  background-image: linear-gradient(to bottom, #499848, #5baa59)
}

.dark .ui-btn.accept:disabled{
  opacity: 0.5;
}

.dark .ui-btn.accept:disabled span{
  color: #fefefe;
}

/* ----------------------------------------------------- */
/* ------------------ CANCEL BUTTONS ------------------- */
/* ----------------------------------------------------- */

.dark .ui-btn.cancel{
	background-color: #f45756;
	background-image: -webkit-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -moz-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -o-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: -ms-linear-gradient(bottom, #ef5251, #f75a59);
	background-image: linear-gradient(to top, #ef5251, #f75a59);
  border: none;
}

.dark .ui-btn.cancel span{
  color: #fefefe;
	text-shadow: 0 1px rgba(0,0,0,.15);
}

.dark .ui-btn.cancel:hover{
  background-color: #f66564;
  -webkit-box-shadow: inset 0 -2px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 -2px rgba(0,0,0,.2);
  box-shadow: inset 0 -2px rgba(0,0,0,.2);
  background-image: -webkit-linear-gradient(bottom, #f25c5b, #f76968);
  background-image: -moz-linear-gradient(bottom, #f25c5b, #f76968);
  background-image: -o-linear-gradient(bottom, #f25c5b, #f76968);
  background-image: -ms-linear-gradient(bottom, #f25c5b, #f76968);
  background-image: linear-gradient(to top, #f25c5b, #f76968);
}

.dark .ui-btn.cancel:active{
  background-color: #d2403e;
	-webkit-box-shadow: inset 0 2px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 2px rgba(0,0,0,.15);
	box-shadow: inset 0 2px rgba(0,0,0,.15);
	background-image: -webkit-linear-gradient(top, #d03a39, #d64948);
	background-image: -moz-linear-gradient(top, #d03a39, #d64948);
	background-image: -o-linear-gradient(top, #d03a39, #d64948);
	background-image: -ms-linear-gradient(top, #d03a39, #d64948);
	background-image: linear-gradient(to bottom, #d03a39, #d64948);
}

.dark .ui-btn.cancel:disabled{
  opacity: 0.5;
}

.dark .ui-btn.cancel:disabled span{
  color: #fefefe;
}

/* ----------------------------------------------------- */
/* -------------------- GRAY BUTTONS ------------------- */
/* ----------------------------------------------------- */

.dark .ui-btn.gray{
  background-color: #fff;
  background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
	background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
	background-image: -o-linear-gradient(bottom, #fafafa, #fff);
	background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
	background-image: linear-gradient(to top, #fafafa, #fff);
  border: none;
}

.dark .ui-btn.gray span{
  color: #545f65;
}

.dark .ui-btn.gray:hover{
  background-color: #fff;
	-webkit-box-shadow: inset 0 -2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 -2px rgba(0,0,0,.2);
	box-shadow: inset 0 -2px rgba(0,0,0,.2);
}

.dark .ui-btn.gray:active{
  background-color: #fff;
	-webkit-box-shadow: inset 0 2px rgba(0,0,0,.2);
	-moz-box-shadow: inset 0 2px rgba(0,0,0,.2);
	box-shadow: inset 0 2px rgba(0,0,0,.2);
	background-image: -webkit-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -moz-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -o-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: -ms-linear-gradient(top, #dfe3e6, #ecf0f3);
	background-image: linear-gradient(to bottom, #dfe3e6, #ecf0f3);
}

.dark .ui-btn.gray:disabled{
  opacity: 0.5;
}

.dark .ui-btn.gray:disabled span{
  color: #545f65;
}

/* ----------------------------------------------------- */
/* -------------------- NORMAL INPUT ------------------- */
/* ----------------------------------------------------- */

.dark .ui-input{
	background-color: #545f65;
  border: solid 1px #323940;
  padding: 0px 8px;
  color: #d2dce2;
}

.dark .ui-input:focus{
  background-color: #545f65;
	-webkit-box-shadow: inset 0 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px rgba(0,0,0,.05);
	border: solid 1px #60b25e;
  color: white;
}

.dark .ui-input.error{
  font-weight: bold;
  background-color: #545f65;
  -webkit-box-shadow: inset 0 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px rgba(0,0,0,.05);
  border: solid 1px #ec6e68;
  color: #ec6e68;
}

.dark .ui-input.disabled{
  color: #737d84;
  background-color: #4a535b;
  border: solid 1px #384048;
}

/* ----------------------------------------------------- */
/* -------------------- SEARCH INPUT ------------------- */
/* ----------------------------------------------------- */

.dark .ui-input-search{
  background-color: #545f65;
  border: 1px solid #323940;
}

.dark .ui-input-search figure{
  border-right: 1px solid #d2dce2;
}

.dark .ui-input-search i{
  background-image: url('sprite-black.png');
}

.dark .ui-input-search input{
  background-color: #545f65;
  color: #d2dce2;
}

.dark .ui-input-search.active{
  border: solid 1px #60b25e;
}

.dark .ui-input-search.active figure{
  border-right: 1px solid #60b25e;
}

.dark .ui-input-search.active i{
  background-position-x: -16px;
}

.dark .ui-input-search.active input{
  color: white;
}

.dark .ui-input-search.disabled{
  opacity: 0.7;
}

/* ----------------------------------------------------- */
/* ------------------ DROPDOWN INPUT ------------------- */
/* ----------------------------------------------------- */

.dark .ui-input-dropdown{
  background-color: #545f65;
  border: solid 1px #323940;
  color: #d2dce2;
}

.dark .ui-input-dropdown-input{
  /*margin: 5px;*/
}

.dark .ui-input-dropdown-input article{
  width: 40px;
  float: left;
  margin: 5px 0px 0px 5px;
}

.dark .ui-input-dropdown-input figure{
  width: 13px;
	height: 26px;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	background-color: #ccd3d5;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.03);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.03);
	box-shadow: inset 0 1px rgba(255,255,255,.03);
	background-image: -webkit-linear-gradient(bottom, #404951, #47525b);
	background-image: -moz-linear-gradient(bottom, #404951, #47525b);
	background-image: -o-linear-gradient(bottom, #404951, #47525b);
	background-image: -ms-linear-gradient(bottom, #404951, #47525b);
	background-image: linear-gradient(to top, #404951, #47525b);
  border-left: 1px solid #323940;
}

.dark .ui-input-dropdown-input figure i{
  background-image: url("sprite-white.png");
  width: 5px;
  height: 3px;
  margin: 11px 4px 10px 4px;
  display: inline-block;
  background-size: 91px 16px;
  background-position: -51px -7px;
}

.dark .ui-input-dropdown-dropdown{
  display: none;
}

.dark .ui-input-dropdown:hover figure{
  -webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 1px rgba(255,255,255,.03);
	-moz-box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 1px rgba(255,255,255,.03);
	box-shadow: 0 2px 1px rgba(0,0,0,.05), inset 0 1px rgba(255,255,255,.03);
	background-image: -webkit-linear-gradient(bottom, #49535c, #535f6a);
	background-image: -moz-linear-gradient(bottom, #49535c, #535f6a);
	background-image: -o-linear-gradient(bottom, #49535c, #535f6a);
	background-image: -ms-linear-gradient(bottom, #49535c, #535f6a);
	background-image: linear-gradient(to top, #49535c, #535f6a);
}

.dark .ui-input-dropdown.disabled{
  opacity: 0.5;
}

/* ----------------------------------------------------- */
/* -------------------- SELECT INPUT ------------------- */
/* ----------------------------------------------------- */

.dark .ui-select{
  background-color: #545f65;
  border: solid 1px #323940;
  color: #d2dce2;
}

.dark .ui-select-input article{
  width: 125px;
  float: left;
  margin: 7px 0px 0px 10px;
}

.dark .ui-select-input figure{
  float: right;
  -webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	background-color: #ccd3d5;
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.03);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.03);
	box-shadow: inset 0 1px rgba(255,255,255,.03);
	background-image: -webkit-linear-gradient(bottom, #404951, #47525b);
	background-image: -moz-linear-gradient(bottom, #404951, #47525b);
	background-image: -o-linear-gradient(bottom, #404951, #47525b);
	background-image: -ms-linear-gradient(bottom, #404951, #47525b);
	background-image: linear-gradient(to top, #404951, #47525b);
  border-left: solid 1px #323940;
}

.dark .ui-select-input figure i{
  background-image: url("sprite-white.png");
  width: 5px;
  height: 10px;
  margin: 10px 4px 9px 4px;
  display: inline-block;
  background-size: 91px 16px;
  background-position: -51px 0px;
}

.dark .ui-select-dropdown{
  display: none;
}

.dark .ui-select-dropdown.disabled{
  opacity: 0.5;
}

/* ----------------------------------------------------- */
/* -------------------- CONTEXT MENU ------------------- */
/* ----------------------------------------------------- */

.dark .ui-context-menu{
  background-color: #545f65;
  border: 1px solid #323940;
}

.dark .ui-context-menu .item{
  color: #d2dce2;
}

.dark .ui-context-menu .item.children span{
  float:left;
  width: 120px;
}

.dark .ui-context-menu .item.children figure{
  float: right;
  width: 15px;
  height: 20px;
  display: inline-block;
  margin: 0;
}

.dark .ui-context-menu .item:hover{
  background-color: #60b25e;
  color: white;
}

.dark .ui-context-menu .separator{
  background-color: #788287;
}

.dark .ui-context-menu .title{
  color: #d2dce2;
}
